
body {
    display: flex;
    align-items: center;
    justify-content: center;
    viewport-fit: 100%;
    

}
#conteiner_home h1{
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}
#conteiner_home {
    
    background-color:#1d817f;
}


#conteiner_home .corpods a {
    text-decoration: none;
    color: black;
}
#conteiner_home .corpods {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#conteiner_home .corpods a {
    display: flex;
    background-color:#E0B992;
    border-radius: 33px;
    width: 250px;
    height: 30px;
    margin: 15px;
    justify-content:center;
    border:solid black 3px;

}
#conteiner_home .corpods a p {
display: flex;
align-items: end;
text-align: right;
}






 .bt1ds{
    display: flex;
    justify-content: center;
    align-items: center;
}