* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5e3ae;
    color: #b1ccc4;
}

header {
    width: 100%;

}

.logo {
    width: 200px;
    align-items: center;
    display: flex;
}


.texto {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.mb-3 {
    width: 30%;
}

.form-control {
    box-shadow: 2px 2px 5px black;
}

.btContinuar {
    width: 20%;
    height: 40px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecc19c;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;

}

.box_input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 5vh;
    background-color: #fff5d6;
    border: none;
    margin-bottom:5px ;

}

input{
    border: none;
    background-color:#fff5d6;
    color:#b1ccc4;
 }
 
 input::placeholder{
     color:#b1ccc4;
     font-weight: 600;
 }
 form{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     width:100%;
 }
 h2{
    font-size: 1rem;
    text-decoration: underline;
}
h1{
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500; 
    width: 100%;
}
.box_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 2rem;
    font-weight: 600;
    background-color: #4e5861;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}